*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.Hero-page{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    max-width: fit-content;
    margin: auto;
}
.img_1{
    height: 729px;
    width: 900px;
}
.para{
    margin-top: 20px;
    color: rgb(111, 111, 247);
}

.wording{
    color: rgb(1, 1, 68);
    
}

@media screen and (max-width: 420px){
    .img_1{
        height: 37.5rem;
        width: 23rem;
        display:block;
    }
}





.hum{
    background: rgba(94, 108, 132, 1);
    
}
.side-space{
    padding-left: 250px;
}
.hum-res{
    padding-top: 20px;
    padding-bottom: 25px;
    
}
.onboard{
    padding-bottom: 25px;
}
.grp-frame{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    padding-bottom: 10px;
    
}
.frame{
    display:flex;
    justify-content: space-evenly;
    align-content: flex-start;
    padding-left: 70px;
}



.admin{
    background-color: #E5E5E5;
    padding-bottom: 150px;
}
.admin-flex{
    display: flex;
    justify-content: space-evenly;
    padding-top: 85px;
}
.admin-1{
    padding-top: 20px;
}
h1{
    font-style: 700;
    font-size: 48px;
    color: rgba(9, 30, 66, 1);
    line-height: 64px;
    
}
h2{
    color: rgba(9, 30, 66, 1);
    padding-top: 20px;
    padding-bottom: 10px;
}
p{
    color:rgba(94, 108, 132, 1);
    vertical-align: top;
    padding-bottom: 100px;
    
}
.admin-3{
    display: flex;
    padding-bottom: 40px;
    justify-content: center;
}



@media(min-width: 320px) and (max-width: 480px){
    
    .Hero-page{
        
        flex-direction: column;
        max-width: auto;
        
    }
    .img_1{
        margin-top: -120px;
        height: 37.5rem;
        width: 23rem;
        display:block;
    }

    h1{
        font-size: 32px;
        line-height: normal;
        padding-top: 20px;
        
    }
    .wording{
        margin-bottom: -35px;
        margin-left: -30px;
    }
    .frame{
        flex-direction: column;
        gap: 1.2rem;
        margin-right: 85px;
        justify-content: flex-start;
    }
    .framee{
        width: 70%;

    }
    .hum-res{
        padding-left: 90px;
        margin-left: -35px;
        font-size: 24px;  
    }
    .onboard{
        color: rgb(189, 198, 216);
        font-size: 14px;
        margin-left: -199px;
        padding-right: 8px;
    }
    .grp-frame1 {
        width: 300px;
        margin-bottom: -50px;
    }
    .admin-flex{
        flex-direction: column;
        justify-content: center;
    }
    .admin-0{
        font-size: 24px;
        margin-bottom: -10px;
        margin-top: -10px;
        padding-left: 20px;
    }
    .admin-1{
        padding-left: 20px;
    }
    .admin-2{
        padding-left: 60px;
    }
    .admin-4{
        padding-left: 10px;
        margin-left: 15px;
        
    }
    .grid2x2 {
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
    }
    .grid2x2 > div {
        display: flex; 
        flex-basis: calc(50% - 40px);  
        justify-content: center;
        flex-direction: column;
        padding-top: -50px;
    }
    .grid2x2 > div > img {
        width: 100px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 20px;
    }
}