.footer{
    background-color: rgba(9, 30, 66, 1);
   
}
.footer-flex{
   display: flex;
   justify-content: space-between;
}
.footer-1{
   padding-left: 100px;
   padding-top: 40px;
}
.flex-right{
   padding-right: 100px;
   padding-top: 55px;
}
.flex-right-1{
   right: 80px;
}
.edge{
    color: rgb(197, 179, 179);
     font-size: 35px

}

@media (min-width: 320px) and (max-width: 480px){
    .footer-flex{
        display: flex; 
        flex-basis: calc(50% - 40px);  
        justify-content: center;
        flex-direction: column;   
    }
    .flex-right{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 150px;
        
    }
    .flex-right-1{
        padding-bottom: 40px;
        padding-top: -40px;
        margin-top: -80px;
    }
    .copy{
        margin-left: -20px;
        font-size: 13px;
        text-align: center;
    }
    .res1{
        font-size: 24px;
    }
}